* {
  background-color: #b2e4aa75;
  color: #8eb58875;
  color: #ffa692ce;
  color: rgba(157, 110, 99, 0.647);
  color: rgb(107, 107, 237);
  color: rgb(200, 200, 241);
  color: rgb(113, 113, 159);
}
